* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Arial';
    line-height: 1.6;  background: linear-gradient(150deg, #8c1c4c, #828dab);}

header {
    background: linear-linear-gradient(135deg, #1f1c2c, #928dab); height: 90vh;
    color: white;
    text-align: center;
    padding: 90px 40px;}
.header-content {
    margin-top: 60px;
    text-align: center;}

.animated-text {
  font-size: 4rem;
  font-weight: bold; letter-spacing: 3px;
  animation: fadeIn 9s ease-in-out infinite, moveUp 9s ease-in-out; color: #00ffcc;}
@keyframes fadeIn {
  from {
    opacity: 0.1;}
  to {opacity: 1;}}

header p {
    font-size: 1.5rem; color: #fefefe}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none; margin-top: 20px}

nav ul li {
    margin: 0 15px;}

nav ul li a {
    color: white;font-weight: bold;
    text-decoration: none; 
    font-size: 1.3rem; transition: color 0.10s ease; text-align:center; transition: color 0.3s }

nav ul a:hover{color:#00ffcc; }
nav ul li a:hover {
    text-decoration: underline;}

section {
    padding: 70px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;}

h2 {
    font-size: 2rem;text-decoration: underline wavy #00ffcc 5px; text-underline-offset: 10px;
margin-bottom: 40px;font-weight:bold; color:black}
section p {font-size: 1.5rem}
.skills-bubble {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;}

.bubble {
    width: 110px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(135deg, #2a41bc, #7575fc);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;}

.bubble:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.projects {
    margin-top: 70px;
}
.projects a {color: #333;
    text-decoration: none;
    font-weight: bold;font-size: 1rem}

.projects a:hover {
    text-decoration: underline; }

.projects p {
    margin-top: 5px;
    font-size: 1rem;}

#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li {
    margin: 10px 0;
}
#contact ul li a {
    color: black;
    text-decoration: none;
}
#contact ul li a:hover {
    text-decoration: underline;}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

@media (max-width: 768px) 